<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="/Admin assets/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Admin assets/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Admin assets/assets/css/style.css">
    <link rel="shortcut icon" href="/Admin assets/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            <form action="#" method="post" id="login">
                                <div class="form-group">
                                    <label>Username or email *</label>
                                    <input type="text" class="form-control p_input" name="email" id="email" value="admin@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input type="password" class="form-control p_input" name="password" id="password" value="12345678" >
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                                </div>
                                <span id="submitError" style="color: red; margin-top: 10px;"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/script/admin/login.js"></script>
    <script src="/Admin assets/assets/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>
