    <style>
      .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

    </style>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/Admin assets/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/Admin assets/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/Admin assets/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/Admin assets/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/Admin assets/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/Admin assets/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/Admin assets/assets/js/off-canvas.js"></script>
<script src="/Admin assets/assets/js/hoverable-collapse.js"></script>
<script src="/Admin assets/assets/js/misc.js"></script>
<script src="/Admin assets/assets/js/settings.js"></script>
<script src="/Admin assets/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/Admin assets/assets/js/dashboard.js"></script>
<script src="/script/admin/userList.js"></script>

<!-- End custom js for this page -->
</body>
</html>